<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/update" method="post">
    <input type="hidden" value="<%= _id %>" name="id">
    pid: <%= pid %> <br>
    pname: <%= pname%> <br>
    price: <input type="text" name="price" placeholder="<%= price %>"><br>
    count: <input type="text" name="count" placeholder="<%= count %>"><br>
    <input type="submit" value="修改">
  </form>
</body>
</html>